{
  "swagger": "2.0",
  "info": {
    "description": "An Orange Business Service API for managing incidents.\n\n\n### Internationalization\nBy default, data are in English but you can request data in French by specifying a language code in the Accept-Language header.\n_Example: Accept-Language: fr_\n\n### Resources \n- **incidents** : A incident defines an event impacting the service.\n- **attachments** : Attachments defines all files associated to an incident.\n- **notes** :  notes are comments on the incident written by Orange or the Customer.\n- **freezePeriods** :  periods when the incident is frozen\n- **reports** : used to get reports. (Future version)\n- **snapshots** : used to determine the number of requests based on an attribute. (Future version)\n- **status** : used to know the status of API components.\n- **version** : provides the version of the API.\n- **doc** : allows to download the swagger file.\n\n### Incident API performs the following operations :\n- Create or update a incident, retrieve an incident or a collection of incidents.\n- Add a note, retrieve notes.\n- Upload a attachment/file, list or download attachments.\n- Generate statistics on incidents\n\n### OAuth 2.0 Scopes\n\n| Scope | Features |\n| --- | --- |\n| b2b:incident | Grants access to list and have details of incidents and also to report new incidents |\n| b2b:incident:readonly | \tGrants access to list and have details of incidents |\n\n***\nCopyright © Orange Business Services 2020. All Rights Reserved.",
    "version": "1.1.0",
    "title": "Incident",
    "x-logo": {
      "url": "https://raw.githubusercontent.com/obs-api/swaggers/main/assets/logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "name": "Philippe VALETTE",
      "email": "philippe.valette@orange.com",
      "url": "https://developer.orange.com"
    }
  },
  "host": "api.orange.com",
  "basePath": "/incident/b2b/v0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json;charset=utf-8"
  ],
  "tags": [
    {
      "name": "Incidents",
      "description": "Manage Incidents of the Orange Business Services solutions"
    },
    {
      "name": "Notes",
      "description": "A note is a comment on an incident added by the Customer staff or Orange staff."
    },
    {
      "name": "Attachments",
      "description": "Attachments are files, documents associated to an incident or a note of an incident. These attachments can be provided by Orange staff, Orange Automatic tools or by Customers"
    },
    {
      "name": "Freeze Periods",
      "description": "Provide the list of freeze Periods"
    },
    {
      "name": "Reports",
      "description": "Generate reports on Incidents."
    },
    {
      "name": "Aggregation",
      "description": "Provide counters of items grouped by an attribute."
    },
    {
      "name": "Documentation",
      "description": "Link for downloading the Swagger of the Customer Data for Business API."
    },
    {
      "name": "Status",
      "description": "Provide the status of the API."
    },
    {
      "name": "Version",
      "description": "Track version of the API."
    }
  ],
  "paths": {
    "/incidents": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "consumes": [
          "application/json;charset=utf-8"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "CreateIncident",
        "summary": "Create an Incident.",
        "description": "\nThis operation allow to report a new incident, trouble to Orange Business Services.\n\nSpecific business errors for current operation will be encapsulated in HTTP Response 422 Unprocessable entity \n",
        "deprecated": false,
        "parameters": [
          {
            "name": "body",
            "required": true,
            "description": "Body of the POST method describing the incident",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/IncidentPOST"
            }
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IncidentPOSTResponse"
            }
          },
          "422": {
            "description": "Incident Management error\n\ncode = 2820 : Not autorized to report an incident on the device, service, product...",
            "schema": {
              "oneOf": [
                {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              ],
              "type": "object"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Incidents"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "ListIncidents",
        "summary": "List all Incidents",
        "description": "This operation lists all incidents.\n\nFiltering, pagination, sorting and partial response are available.\n\nSpecific business errors for current operation will be encapsulated in HTTP Response 422 Unprocessable entity \n",
        "deprecated": false,
        "parameters": [
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The maximum number of items to retrieve.",
            "type": "integer",
            "format": "int32",
            "default": 25,
            "minimum": 0
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "array",
            "description": "Allow to sort the response in the order of one attribut or a list of attributs separed by a comma. To specify the descending order, the attribut must be prefixed by a '-'.",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "-id",
                "customerReference",
                "-customerReference",
                "status",
                "-status",
                "impact",
                "-impact",
                "urgency",
                "-urgency",
                "serviceCondition",
                "-serviceCondition",
                "type",
                "-type",
                "origin",
                "-origin",
                "servicePoints.id",
                "-servicePoints.id",
                "servicePoints.name",
                "-servicePoints.name",
                "servicePoints.customerReference",
                "-servicePoints.customerReference",
                "escalationLevel",
                "-escalationLevel",
                "onHoldReason",
                "-onHoldReason",
                "customer.id",
                "-customer.id",
                "customer.name",
                "-customer.name",
                "location.id",
                "-location.id",
                "location.name",
                "-location.name",
                "location.address.city",
                "-location.address.city",
                "location.address.postalCode",
                "-location.address.postalCode",
                "location.address.country",
                "-location.address.country",
                "milestones.resolvedAt",
                "-milestones.resolvedAt",
                "milestones.restoredAt",
                "-milestones.restoredAt",
                "milestones.validatedAt",
                "-milestones.validatedAt",
                "milestones.closedAt",
                "-milestones.closedAt",
                "milestones.archivedAt",
                "-milestones.archivedAt",
                "milestones.escalatedAt",
                "-milestones.escalatedAt",
                "createdAt",
                "-createdAt",
                "updatedAt",
                "-updatedAt"
              ]
            }
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "description": "Specify attributes returned by the request",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "customerReference",
                "status",
                "impact",
                "priority",
                "urgency",
                "serviceCondition",
                "type",
                "origin",
                "shortDescription",
                "description",
                "servicePoint.id",
                "servicePoint.name",
                "servicePoint.product.id",
                "servicePoint.product.name",
                "servicePoint.product.reference",
                "servicePoint.product.customerReference",
                "servicePoint.serviceLevelManagement.id",
                "servicePoint.serviceLevelManagement.coverageTime",
                "servicePoint.serviceLevelManagement.restoreTime",
                "servicePoint.serviceLevelManagement.responseTime",
                "isEscalated",
                "onHoldReason",
                "customer.id",
                "customer.name",
                "location.id",
                "location.name",
                "location.customerReference",
                "location.address.street",
                "location.address.extendedStreet",
                "location.address.postalCode",
                "location.address.city",
                "location.address.locality",
                "location.address.country",
                "createdAt",
                "updatedAt",
                "milestones.openedAt",
                "milestones.validatedAt",
                "milestones.closedAt",
                "milestones.restoredAt",
                "milestones.escalatedAt",
                "milestones.resolvedAt"
              ]
            }
          },
          {
            "name": "displayLinks",
            "required": false,
            "in": "query",
            "description": "Flag for displaying the HATEOS links of linked ressources.",
            "type": "boolean",
            "default": false
          },
          {
            "name": "displayNulls",
            "required": false,
            "in": "query",
            "description": "Flag for displaying all fields even if the value is null.",
            "type": "boolean",
            "default": false
          },
          {
            "name": "id",
            "required": false,
            "in": "query",
            "description": "Filters incidents having Orange Single Identifier (fka. `id`) matching the requested identifier list (separated by comma). \n_example: id=20993, 33333_",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "customerReference",
            "required": false,
            "in": "query",
            "description": "Filter the reponse by the customer reference",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "location.id",
            "required": false,
            "in": "query",
            "description": "Filter the reponse by the Orange identifer of the Location.",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "location.name",
            "required": false,
            "in": "query",
            "description": "Filter by the name of the location.",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "urgency",
            "required": false,
            "in": "query",
            "description": "Filter by the urgency level of the Incident.",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "HIGH",
                "MEDIUM",
                "LOW"
              ]
            }
          },
          {
            "name": "impact",
            "required": false,
            "in": "query",
            "description": "Filter by the impact level of the Incident.",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "HIGH",
                "MEDIUM",
                "LOW",
                "UNKNOWN"
              ]
            }
          },
          {
            "name": "serviceCondition",
            "in": "query",
            "description": "Filter by the service Condition of the Incident.",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "INTERUPTED",
                "BACKUP",
                "LIMITED",
                "DEGRADED",
                "MAJOR_DEGRADED",
                "TRANSPARENT",
                "NO_SERVICE_IMPACT",
                "OTHER"
              ]
            }
          },
          {
            "name": "createdAt",
            "required": false,
            "in": "query",
            "description": "Filter by the creation date of the Incident.",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "updatedAt",
            "required": false,
            "in": "query",
            "description": "Filter by the last update date of the Incident.",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "priority",
            "required": false,
            "in": "query",
            "description": "Filter by the priority of the Incident.",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "P1",
                "P2",
                "P3",
                "P4",
                "P5",
                "UNKNOWN"
              ]
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "description": "Filter by the type of the Incident.",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "FAILURE",
                "MAINTENANCE",
                "OTHER"
              ]
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Filter by the status of the Incident.",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "NEW",
                "IN_PROGRESS",
                "RESTORED",
                "RESOLVED",
                "CLOSED",
                "ARCHIVED",
                "ON_HOLD",
                "VALIDATED",
                "DISPATCHED"
              ]
            }
          },
          {
            "name": "origin",
            "required": false,
            "in": "query",
            "description": "Filter by the origin of the Incident.",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "CUSTOMER",
                "PROVIDER",
                "PROBES"
              ]
            }
          },
          {
            "name": "customer.id",
            "required": false,
            "in": "query",
            "description": "Filter by the customer id associated to the incident",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "servicePoint.id",
            "required": false,
            "in": "query",
            "description": "Filter by the idenfier of the Service Point",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "servicePoint.product.id",
            "required": false,
            "in": "query",
            "description": "Filter by the identifier of the Product",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "event.id",
            "required": false,
            "in": "query",
            "description": "Filter by the identifier of the Event that generate the Incident",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "description": "Specify additional items to add in the response",
            "in": "query",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "attachments",
                "notes",
                "freezePeriods"
              ]
            },
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "description": "Return a list of Incidents",
              "items": {
                "$ref": "#/definitions/Incident"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items matching criterias.",
                "type": "integer",
                "format": "int32"
              },
              "X-Result-Count": {
                "description": "The actual number of items returned in the response body.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "security": [
          {
            "Orange Developer": [
              "b2b:incident",
              "b2b:incident:readOnly"
            ]
          }
        ]
      }
    },
    "/incidents/aggregate": {
      "get": {
        "summary": "Aggregate Incidents",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "AggregateIncident",
        "description": "This method allows to group incidents and to count the number of items by group",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "X-API-Key",
            "description": " The API Key required for using Orange Business Services API."
          },
          {
            "type": "string",
            "in": "query",
            "name": "groupBy",
            "required": true,
            "description": "Attribut list (separated by comma) for grouping items"
          },
          {
            "type": "string",
            "in": "query",
            "name": "id",
            "description": "Filter by the name of the Orange Identifier of the incident."
          },
          {
            "type": "string",
            "in": "query",
            "name": "customerReference",
            "description": "Filter the reponse by the customer reference"
          },
          {
            "type": "string",
            "in": "query",
            "name": "status",
            "description": "Filter by the status of the Incident."
          },
          {
            "type": "string",
            "in": "query",
            "name": "impact",
            "description": "Filter by the impact level of the Incident."
          },
          {
            "type": "string",
            "in": "query",
            "name": "urgency",
            "description": "Filter by the urgency level of the Incident."
          },
          {
            "type": "string",
            "in": "query",
            "name": "serviceCondition",
            "description": "Filter by the service Condition of the Incident."
          },
          {
            "type": "string",
            "in": "query",
            "name": "type",
            "description": "Filter by the name of thetype of incident."
          },
          {
            "type": "string",
            "in": "query",
            "name": "origin",
            "description": "Filter by the origin of the Incident."
          },
          {
            "type": "string",
            "in": "query",
            "name": "servicePoint.id",
            "description": "Filter by the Orange Identifier of the Service Point."
          },
          {
            "type": "string",
            "in": "query",
            "name": "servicePoint.name",
            "description": "Filter by the name of the Service Point."
          },
          {
            "type": "string",
            "in": "query",
            "name": "escalationLevel",
            "description": "Filter by the escalation level."
          },
          {
            "type": "string",
            "in": "query",
            "name": "customer.id",
            "description": "Filter by the Orange Customer Identifier."
          },
          {
            "type": "string",
            "in": "query",
            "name": "customer.name",
            "description": "Filter by the Customer Name."
          },
          {
            "type": "string",
            "in": "query",
            "name": "location.id",
            "description": "Filter the reponse by the Orange identifer of the Location."
          },
          {
            "type": "string",
            "in": "query",
            "name": "location.name",
            "description": "Filter by the name of the location."
          },
          {
            "type": "string",
            "in": "query",
            "name": "location.customerReference",
            "description": "Filter by the customer Reference of the location."
          },
          {
            "type": "string",
            "in": "query",
            "name": "location.address.city",
            "description": "Filter by the city of the location."
          },
          {
            "type": "string",
            "in": "query",
            "name": "location.address.country",
            "description": "Filter by the country of the location."
          },
          {
            "type": "string",
            "in": "query",
            "name": "priority",
            "description": "Filter by the priority of the Incident."
          }
        ],
        "tags": [
          "Aggregation"
        ]
      }
    },
    "/incidents/{incidentId}": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "GetIncident",
        "summary": "Get Incident Details",
        "description": "This method allows to retrieve all information about an incident",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "description": "Orange Incident Number",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "description": "Specify attributes returned by the request",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "customerReference",
                "status",
                "impact",
                "priority",
                "urgency",
                "serviceCondition",
                "type",
                "origin",
                "shortDescription",
                "description",
                "servicePoint.id",
                "servicePoint.name",
                "servicePoint.product.id",
                "servicePoint.product.name",
                "servicePoint.product.reference",
                "servicePoint.product.customerReference",
                "servicePoint.serviceLevelManagement.id",
                "servicePoint.serviceLevelManagement.coverageTime",
                "servicePoint.serviceLevelManagement.restoreTime",
                "servicePoint.serviceLevelManagement.responseTime",
                "isEscalated",
                "onHoldReason",
                "customer.id",
                "customer.name",
                "location.id",
                "location.name",
                "location.customerReference",
                "location.address.street",
                "location.address.extendedStreet",
                "location.address.postalCode",
                "location.address.city",
                "location.address.locality",
                "location.address.country",
                "createdAt",
                "updatedAt",
                "milestones.openedAt",
                "milestones.validatedAt",
                "milestones.closedAt",
                "milestones.restoredAt",
                "milestones.escalatedAt",
                "milestones.resolvedAt"
              ]
            }
          },
          {
            "name": "displayLinks",
            "required": false,
            "in": "query",
            "description": "Flag for displaying the HATEOS links of linked ressources.",
            "type": "boolean",
            "default": false
          },
          {
            "name": "displayNulls",
            "required": false,
            "in": "query",
            "description": "Flag for displaying all fields even if the value is null.",
            "type": "boolean",
            "default": false
          },
          {
            "name": "includes",
            "description": "Specify additional items to add in the response",
            "in": "query",
            "type": "string",
            "items": {
              "type": "string",
              "enum": [
                "attachments",
                "notes",
                "freezePeriods"
              ]
            },
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Incident"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Incidents"
        ],
        "consumes": [
          "application/json;charset=utf-8"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "UpdateIncident",
        "summary": "Update an incident.",
        "description": "This method allows to modify a few attributes of the incident record.",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "description": "Orange Incident Number",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Body of the request containing attributes to update.",
            "schema": {
              "type": "object",
              "properties": {
                "customerReference": {
                  "type": "string",
                  "description": "Reference of the incident can be freely updated. Allow to indicate, the Incident number of a third party Incident Management system."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Orange Single Identifier of the incident"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        }
      }
    },
    "/incidents/{incidentId}/notes": {
      "post": {
        "tags": [
          "Notes"
        ],
        "consumes": [
          "application/json;charset=utf-8"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "AddNote",
        "summary": "Add a Note to an Incident",
        "description": "This method allows to add a new note to an incident.",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "description": "Orange Incident Number",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Body of the request containing the note attributes.",
            "schema": {
              "type": "object",
              "properties": {
                "note": {
                  "type": "string",
                  "description": "Note to add to the incident"
                },
                "author": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the Author (First name + Last Name)"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "First name of the Author of the note"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Last name of the Author of the note"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              },
              "required": [
                "note"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Orange Single Identifier of the incident"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        }
      },
      "get": {
        "tags": [
          "Notes"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "ListIncidentNotes",
        "summary": "List all Notes of an Incident",
        "description": "This method allows to list all notes associated to an incident.",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "description": "Orange Incident Number",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The maximum number of items to retrieve.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "-id",
                "author.name",
                "-author.name",
                "createdAt",
                "-createdAt"
              ]
            },
            "description": "Allow to sort the response via an attribut or a list of attributes. For Desc order, the attribut must be prefixed with a '-'. "
          },
          {
            "name": "fields",
            "required": false,
            "description": "Reduce the response",
            "in": "query",
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": false,
            "description": "Identifier of the Incident",
            "in": "query",
            "type": "string"
          },
          {
            "name": "author.name",
            "required": false,
            "description": "Filter by the author of the note",
            "in": "query",
            "type": "string"
          },
          {
            "name": "createdAt",
            "required": false,
            "description": "Filter by the creation date of the item",
            "in": "query",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "origin",
            "required": false,
            "description": "Filter by the origin of the item",
            "in": "query",
            "type": "string",
            "enum": [
              "CUSTOMER",
              "ORANGE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IncidentNote"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items matching criterias.",
                "type": "integer",
                "format": "int32"
              },
              "X-Result-Count": {
                "description": "The actual number of items returned in the response.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      }
    },
    "/incidents/{incidentId}/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "consumes": [
          "application/json;charset=utf-8"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "AddAttachment",
        "summary": "Upload an Attachment",
        "description": "This method allows to add a new attachment to an incident.It is not possible to remove or delete a document",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "description": "Orange Incident Number",
            "type": "string",
            "required": true
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Orange Single Identifier of the incident"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        }
      },
      "get": {
        "tags": [
          "Attachments"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "ListAttachments",
        "summary": "List all Attachments of an Incident.",
        "description": "The method allows to retrieve the complete list of attachments of a specific incident.",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "description": "Orange Incident Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The maximum number of items to retrieve.",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Allow to sort following one or several attributes separated by a comma. For descending order, just prefix the attribute with a '-'\nFor example: ?sort=-createdAt",
            "type": "string",
            "enum": [
              "id",
              "-id",
              "name",
              "-name",
              "size",
              "-size",
              "type",
              "-type",
              "createdAt",
              "-createdAt"
            ]
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "description": "Allow to receive partial response by specifying a list of attributes separed by a comma. The 'content' attribute is by default not returned.\nExample: ?fields=name,type,content",
            "type": "string",
            "enum": [
              "id",
              "name",
              "content",
              "size",
              "type",
              "createdAt"
            ]
          },
          {
            "name": "displayLinks",
            "required": false,
            "in": "query",
            "description": "If the href to a linked resource must be displayed or not.",
            "type": "boolean",
            "default": false
          },
          {
            "name": "displayNulls",
            "required": false,
            "in": "query",
            "description": "If the name to a linked resource must be displayed or not.",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items matching criterias.",
                "type": "integer",
                "format": "int32"
              },
              "X-Result-Count": {
                "description": "The actual number of items returned in the response body.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      }
    },
    "/incidents/{incidentId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "produces": [
          "application/pdf",
          "application/xls",
          "application/xlsx",
          "application/zip",
          "image/gif",
          "image/jpeg",
          "image/png",
          "text/csv",
          "text/plain",
          "text/html"
        ],
        "operationId": "GetAttachment",
        "summary": "Download an Attachement",
        "description": "The method allows to download an attachment",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "description": "Orange Incident Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "attachmentId",
            "description": "Orange Identifier of the attachment",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-api-key",
            "required": false,
            "in": "header",
            "description": "The API Key required for using Orange Business Services API.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      }
    },
    "/incidents/{incidentId}/freezePeriods": {
      "get": {
        "tags": [
          "Freeze Periods"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "ListFreezePeriods",
        "summary": "List all Freeze Periods of an Incident",
        "deprecated": false,
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "description": "Orange Incident Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "required": false,
            "description": "The API Key required for using Orange Business Services API.",
            "in": "header",
            "type": "string"
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The maximum number of items to retrieve.",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "displayLinks",
            "required": false,
            "in": "query",
            "description": "If the href to a linked resource must be displayed or not.",
            "type": "boolean",
            "default": false
          },
          {
            "name": "displayNulls",
            "required": false,
            "in": "query",
            "description": "If the name to a linked resource must be displayed or not.",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FreezePeriods"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items matching criterias.",
                "type": "integer",
                "format": "int32"
              },
              "X-Result-Count": {
                "description": "The actual number of items returned in the response body.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "description": "List Freeze Periods of an incident"
      }
    },
    "/doc": {
      "get": {
        "tags": [
          "Documentation"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "DownloadSwagger",
        "summary": "Download Swagger",
        "description": "Provide the current version of the Swagger File. \nThe API key is not required for this end-point.",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Documentation"
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "GetStatus",
        "summary": "Provide the status of the API",
        "description": "This method allows to get the status of the components of the Incident Management API",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": [
          "Version"
        ],
        "produces": [
          "application/json;charset=utf-8"
        ],
        "operationId": "GetVersion",
        "summary": "Provide the version of the API",
        "description": "This method provides detailed information on the API (Version/patch...)",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Version"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Statuts": {
      "description": "Status of the incident",
      "type": "string",
      "enum": [
        "NEW",
        "ON_HOLD",
        "INPROGRESS",
        "CLOSED",
        "RESTORED",
        "RESOLVED",
        "PENDING",
        "VALIDATED"
      ]
    },
    "ProductTypes": {
      "type": "string",
      "enum": [
        "DEVICE",
        "SERVICE"
      ]
    },
    "ReportTypes": {
      "description": "List the available reports on Incident Management",
      "type": "string",
      "enum": [
        "CSV"
      ]
    },
    "ReportStatus": {
      "description": "List all available status on a report",
      "type": "string",
      "enum": [
        "IN_PROGRESS",
        "COMPLETED",
        "ERROR"
      ]
    },
    "IncidentStates": {
      "description": "List values of the incident state field",
      "type": "string",
      "enum": [
        "NEW",
        "IN_PROGRESS",
        "RESTORED",
        "RESOLVED",
        "CLOSED",
        "ARCHIVED",
        "ON_HOLD",
        "VALIDATED",
        "DISPATCHED"
      ]
    },
    "InterventionTypes": {
      "description": "List of type of intervention Orange planned to fix the incident",
      "type": "string",
      "enum": [
        "IMMEDIATE",
        "DEFERED",
        "EMERGENCY",
        "NONE"
      ]
    },
    "onHoldReasons": {
      "description": "List values of the 'on hold reason' field. This list can evolve continuously.",
      "type": "string",
      "enum": [
        "09922",
        "09911",
        "09928",
        "10006",
        "09920",
        "09913",
        "09921",
        "09927",
        "09902",
        "09905",
        "10002",
        "09917",
        "09900",
        "09903",
        "09919",
        "09908",
        "09906",
        "09999",
        "09931",
        "10004",
        "10000",
        "10001",
        "09904",
        "09901",
        "09914",
        "10003",
        "09910",
        "09924",
        "09929",
        "09909",
        "09930",
        "10005",
        "09918",
        "00001",
        "09923",
        "09912",
        "09915",
        "09916",
        "09907",
        "09926"
      ]
    },
    "Granularities": {
      "description": "Granulary for reports & snapshots",
      "type": "string",
      "enum": [
        "hour",
        "day",
        "week",
        "month",
        "year"
      ]
    },
    "HyperlinkMethod": {
      "type": "string",
      "enum": [
        "GET",
        "POST",
        "PATCH",
        "DELETE"
      ]
    },
    "ProductType": {
      "description": "Type of the product",
      "type": "string",
      "enum": [
        "ROUTER",
        "SWITCH",
        "ACCESSPOINT",
        "IP-PHONE",
        "GATEWAY"
      ]
    },
    "IncidentOrigin": {
      "description": "Origin of the Incident",
      "type": "string",
      "enum": [
        "PROACTIVE",
        "INTERNAL",
        "CUSTOMER"
      ]
    },
    "IncidentType": {
      "type": "string",
      "enum": [
        "FAILURE",
        "MAINTENANCE",
        "OTHER"
      ]
    },
    "IncidentSort": {
      "description": "Allow to sort the response via a parameter. For Desc order, the attribut must be prefixed with a '-'. ",
      "type": "string",
      "enum": [
        "id",
        "-id",
        "createdAt",
        "-createdAt",
        "updatedAt",
        "-updatedAt"
      ]
    },
    "IncidentNoteSort": {
      "type": "string",
      "enum": [
        "id",
        "-id",
        "author.name",
        "-author.name",
        "createdAt",
        "-createdAt"
      ]
    },
    "IncidentAttachmentFormat": {
      "description": "Format of supported files",
      "type": "string",
      "enum": [
        "application/pdf",
        "text/plain",
        "text/html",
        "image/gif",
        "image/jpeg",
        "image/png",
        "application/zip",
        "text/csv",
        "application/xls"
      ]
    },
    "IncidentAttachmentSort": {
      "description": "Allow to sort the response base on one or several attributes",
      "type": "string",
      "enum": [
        "id",
        "-id",
        "name",
        "-name",
        "size",
        "-size",
        "type",
        "-type",
        "createdAt",
        "-createdAt"
      ]
    },
    "IncidentAttachmentFields": {
      "type": "string",
      "enum": [
        "id",
        "name",
        "content",
        "size",
        "type",
        "createdAt"
      ]
    },
    "IncidentTypes": {
      "type": "string",
      "enum": [
        "INCIDENT"
      ]
    },
    "ContactSupport": {
      "type": "string",
      "enum": [
        "PHONE",
        "MOBILE",
        "EMAIL"
      ],
      "description": "the prefered method to contact the individual",
      "title": ""
    },
    "ZErrorDetail": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "infoURL": {
          "type": "string"
        }
      }
    },
    "ZError": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "infoURL": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ZErrorDetail"
          }
        }
      }
    },
    "IncidentNote": {
      "description": "This model describes notes associated to an Incident.",
      "required": [
        "id",
        "origin",
        "note"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "identifier of the incident note",
          "type": "string"
        },
        "author": {
          "$ref": "#/definitions/Individual"
        },
        "origin": {
          "description": "list of possible root of a note",
          "type": "string",
          "enum": [
            "CUSTOMER",
            "ORANGE"
          ]
        },
        "note": {
          "description": "comment of the note",
          "type": "string"
        },
        "createdAt": {
          "description": "date of the creation of the note",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Attachment": {
      "description": "Model describing the attachment item",
      "required": [
        "name",
        "type",
        "size",
        "createdAt"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Display name of the file",
          "type": "string"
        },
        "type": {
          "description": "Extension of the file such ..png; .txt, .zip, etc...",
          "type": "string"
        },
        "size": {
          "description": "Size in octets of the file",
          "type": "string"
        },
        "href": {
          "description": "URI on the content of the file",
          "type": "string"
        },
        "createdAt": {
          "description": "Date of the publication of the file",
          "type": "string",
          "format": "date-time"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Incident": {
      "description": "Object representing the Incident",
      "type": "object",
      "x-examples": {
        "example-1": {}
      },
      "properties": {
        "id": {
          "description": "Incident number, it is an unique id for identifying the incident. **This ID is managed by Orange Business Services**",
          "type": "string"
        },
        "customerReference": {
          "description": "Customer Reference of the incident. Allow to indicate, the Incident number of a third party Incident Management system. \nThis can be set via the POST method or updated via the PATCH method. ",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the incident. Available values are NEW for the creation, **IN_PROGRESS**, ON_HOLD",
          "enum": [
            "NEW",
            "IN_PROGRESS",
            "RESTORED",
            "RESOLVED",
            "CLOSED",
            "ARCHIVED",
            "ON_HOLD",
            "VALIDATED",
            "DISPATCHED"
          ],
          "default": "NEW",
          "example": "IN_PROGRESS"
        },
        "impact": {
          "description": "Impact level of the current incident.",
          "type": "string",
          "enum": [
            "HIGH",
            "MEDIUM",
            "LOW",
            "UNKNOWN"
          ]
        },
        "urgency": {
          "type": "string",
          "enum": [
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Urgency of the incident."
        },
        "serviceCondition": {
          "type": "string",
          "description": "Service condition of the incident",
          "enum": [
            "BACKUP",
            "LIMITED",
            "DEGRADED",
            "MAJOR_DEGRADED",
            "TRANSPARENT",
            "OTHER",
            "INTERRUPTED",
            "NO_SERVICE_IMPACT"
          ]
        },
        "type": {
          "type": "string",
          "description": "Type of the incident, support only FAILURE",
          "enum": [
            "FAILURE"
          ]
        },
        "origin": {
          "type": "string",
          "description": "Root of the creation of the incident by Customer, Probes or Orange Staff). ",
          "enum": [
            "CUSTOMER",
            "ORANGE",
            "PROBES"
          ]
        },
        "shortDescription": {
          "description": "Short description of the incident. Information provided at the opening of the Incident.",
          "type": "string"
        },
        "description": {
          "description": "Detailed description of the incident. Information provided at the opening of the Incident.",
          "type": "string"
        },
        "servicePoints": {
          "$ref": "#/definitions/ServicePoint"
        },
        "escalationLevel": {
          "description": "Indicate the level of the escalation of the incident. If the value is null, the ticket is not in escalation mode.",
          "type": "string"
        },
        "onHoldReason": {
          "type": "string",
          "description": "Information on the reason of the onhold status."
        },
        "customer": {
          "$ref": "#/definitions/Customer"
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "keyDates": {
          "type": "object",
          "description": "Provide key dates of the ticket.\n",
          "properties": {
            "openedAt": {
              "type": "string"
            },
            "detectedAt": {
              "type": "string"
            },
            "commitedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:00:00Z"
            },
            "resolvedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:00:00Z",
              "description": "Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_"
            },
            "restoredAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:00:00Z",
              "description": "Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_"
            },
            "closedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:00:00Z",
              "description": "Date when the ticket is closed. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_"
            },
            "validatedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:00:00Z",
              "description": "Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_"
            },
            "archivedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:00:00Z",
              "description": "Date when the ticket has been archived in our system.Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_"
            },
            "escalatedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-01-01T00:00:00Z",
              "description": "Date of the current secalation. If no escalation in progress the attribute is null. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_"
            },
            "": {
              "type": "string"
            }
          }
        },
        "closeNotes": {
          "description": "Note of Orange Staff set at the closure of the incident. This field is available only when the incident is closed.",
          "type": "string"
        },
        "impactedServices": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "customerReference": {
                "type": "string"
              },
              "reference": {
                "type": "string"
              }
            }
          }
        },
        "createdAt": {
          "description": "Date of the Incident has been created in the system. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_",
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "description": "Date of the Incident has been updated the last time in the system. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_",
          "type": "string",
          "format": "date-time"
        },
        "events": {
          "$ref": "#/definitions/Event"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "freezePeriods": {
          "$ref": "#/definitions/FreezePeriods"
        },
        "_links": {
          "$ref": "#/definitions/IncidentLinks"
        },
        "closureSummary": {
          "type": "object",
          "properties": {
            "isRootCause": {
              "type": "string"
            },
            "initialCategory": {
              "type": "string"
            },
            "cause": {
              "type": "string"
            },
            "details": {
              "type": "string"
            },
            "closedAt": {
              "type": "string"
            },
            "responsible": {
              "type": "string"
            }
          }
        }
      },
      "required": [
        "id",
        "customerReference",
        "status",
        "impact",
        "urgency",
        "serviceCondition",
        "type",
        "origin",
        "shortDescription",
        "description",
        "servicePoints",
        "onHoldReason",
        "customer",
        "location",
        "keyDates",
        "impactedServices",
        "createdAt",
        "updatedAt",
        "attachments",
        "freezePeriods"
      ]
    },
    "Location": {
      "description": "Model of a location.",
      "required": [
        "id",
        "name",
        "customerReference",
        "address"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Single identifier of the location",
          "type": "string"
        },
        "name": {
          "description": "Name of the building, company etc..",
          "type": "string"
        },
        "customerReference": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Address": {
      "description": "This model describes all attributes available on an address",
      "required": [
        "street",
        "extendedStreet",
        "postalCode",
        "city",
        "locality",
        "country"
      ],
      "type": "object",
      "properties": {
        "street": {
          "description": "Number of the street.",
          "type": "string"
        },
        "extendedStreet": {
          "description": "Letter of the street or extensions such as bis, ter.",
          "type": "string"
        },
        "postalCode": {
          "description": "postalCode of the address",
          "type": "string"
        },
        "city": {
          "description": "Name of the city",
          "type": "string"
        },
        "locality": {
          "description": "locality, county",
          "type": "string"
        },
        "country": {
          "description": "country of the address",
          "type": "string"
        }
      }
    },
    "GeoCoding": {
      "description": "This model allows to locate a geographical point with coordinates.",
      "required": [
        "latitude",
        "longitude"
      ],
      "type": "object",
      "properties": {
        "latitude": {
          "description": "latitude of the location",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "description": "longitude of the location",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Country": {
      "description": "Object representing a country",
      "required": [
        "id",
        "name",
        "region",
        "isCustomerPresent",
        "isOrangePresent",
        "currency"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The ISO code of the country based on the ISO-3166-1 alpha 2 norm.",
          "type": "string"
        },
        "name": {
          "description": "Name of the country. The language is defined with the HTTP header \"Content-Language\" . Only 'en' and 'fr' are supported. By default the English name is returned.",
          "type": "string"
        },
        "region": {
          "description": "region of the country. <span style=\"background-color:red;color:white;padding-left:3px;padding-right:3px;\">Need to list regions",
          "type": "string"
        },
        "isCustomerPresent": {
          "description": "This flag indicates if the Customer have at least one offer deployed in the country",
          "type": "string"
        },
        "isOrangePresent": {
          "description": "If orange is present in the country.",
          "type": "string"
        },
        "currency": {
          "description": "Currency of the country.",
          "type": "string"
        }
      }
    },
    "CountryRef": {
      "required": [
        "id",
        "name",
        "href"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The ISO code of the country based on the ISO-3166-1 alpha 2 norm.",
          "type": "string"
        },
        "name": {
          "description": "Name of the country. The language is defined with the HTTP header \"Content-Language\" . Only 'en' and 'fr' are supported. By default the English name is returned.",
          "type": "string"
        },
        "href": {
          "type": "string"
        }
      },
      "title": ""
    },
    "Individual": {
      "description": "Model describing a physical person.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Orange Single identifier of a contact (Individual)",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the contact"
        },
        "name": {
          "type": "string",
          "description": "Full name of the contact (First name + last name)"
        },
        "lastName": {
          "type": "string",
          "description": "First name of the contact"
        },
        "firstName": {
          "type": "string",
          "description": "Last name of the contact"
        },
        "phone": {
          "type": "string",
          "description": "Phone number of the contact"
        },
        "mobile": {
          "type": "string",
          "description": "Mobile phone number of the contact"
        },
        "email": {
          "type": "string",
          "description": "email of the contact"
        },
        "comment": {
          "type": "string",
          "description": "Comment on the contact"
        },
        "preferedContactSupport": {
          "$ref": "#/definitions/ContactSupport"
        }
      },
      "required": [
        "name"
      ]
    },
    "ReportRequest": {
      "description": "describe the type of reports.\nThe filters attribute allows to reduce the sample of incidents\nThe parameters attribute allows to set specific parameters following the type of reports",
      "required": [
        "type",
        "format",
        "filters",
        "parameters"
      ],
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ReportTypes"
        },
        "beginPeriod": {
          "description": "Allow to filter on the period of the incident",
          "type": "string",
          "format": "date-time"
        },
        "endPeriod": {
          "description": "Allow to filter on the period of the incident",
          "type": "string",
          "format": "date-time"
        },
        "format": {
          "description": "Indicate the expected format for the result such as csv,pdf, xml.\nFor the phase 1, only the csv value is authorized",
          "type": "string"
        },
        "filters": {
          "description": "Describe in JSON format the filter to apply to reduce the sample",
          "type": "object"
        },
        "parameters": {
          "description": "Specific parameters for the selected report. the format is JSON",
          "type": "object"
        }
      }
    },
    "ReportResult": {
      "description": "The model describes the result of a report",
      "allOf": [
        {
          "$ref": "#/definitions/ReportRequest"
        },
        {
          "required": [
            "id",
            "createdAt",
            "endedAt",
            "status"
          ],
          "type": "object",
          "properties": {
            "id": {
              "description": "Single identifier of the report result.",
              "type": "string"
            },
            "createdAt": {
              "description": "Date when the report result was created. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_",
              "type": "string",
              "format": "date-time"
            },
            "endedAt": {
              "description": "A date indicating when the report has been generated",
              "type": "string",
              "format": "date-time"
            },
            "status": {
              "$ref": "#/definitions/ReportStatus"
            },
            "link": {
              "description": "The link on the generated report. This attribute is only available when the report is available.",
              "type": "string"
            }
          }
        }
      ]
    },
    "SnapshotsResult": {
      "description": "This model describes the snapshot to display a summay in a dashboard for example",
      "required": [
        "groupBy",
        "indicators"
      ],
      "type": "object",
      "properties": {
        "groupBy": {
          "type": "string"
        },
        "indicators": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SnapshotsResultItems"
          }
        }
      }
    },
    "SnapshotsResultItems": {
      "description": "A line of result",
      "required": [
        "value",
        "count"
      ],
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "count": {
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "Model of a status.",
      "required": [
        "name",
        "status",
        "version"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Service internal name.",
          "type": "string"
        },
        "status": {
          "description": "\"ok\" if the service is functional (not taking into account the components health), \"ko\" if something is wrong (missing configuration data, database is down...)",
          "type": "string"
        },
        "version": {
          "description": "API version (major dot minor dot patch numbers).",
          "type": "string"
        }
      }
    },
    "Product": {
      "description": "Model of a product ref.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Single identifier of the product.",
          "type": "string"
        },
        "name": {
          "description": "Name of the product.",
          "type": "string"
        },
        "reference": {
          "type": "string"
        },
        "customerReference": {
          "type": "string"
        }
      }
    },
    "Customer": {
      "description": "Information on the Customer Account.",
      "required": [
        "id",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the customer account.",
          "type": "string"
        },
        "name": {
          "description": "Name of the Customer.",
          "type": "string"
        }
      }
    },
    "IncidentNotePOST": {
      "type": "object",
      "properties": {
        "author": {
          "$ref": "#/definitions/Individual"
        },
        "note": {
          "description": "comment of the note",
          "type": "string"
        }
      },
      "required": [
        "note"
      ]
    },
    "IncidentPOST": {
      "type": "object",
      "properties": {
        "customerReference": {
          "description": "Reference of the incident can be freely updated. Allow to indicate, the Incident number of a third party Incident Management system.",
          "type": "string"
        },
        "urgency": {
          "type": "string",
          "enum": [
            "HIGH",
            "MEDIUM",
            "LOW",
            "UNKNWOWN"
          ],
          "description": "Level of the urgency of the trouble"
        },
        "impact": {
          "description": "Level of the impact of the trouble",
          "type": "string",
          "enum": [
            "HIGH",
            "MEDIUM",
            "LOW",
            "UNKNOWN"
          ]
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "product": {
          "$ref": "#/definitions/Product"
        },
        "servicePoint": {
          "$ref": "#/definitions/ServicePoint"
        },
        "shortDescription": {
          "description": "Short description of the incident. Information provided at the opening of the Incident.",
          "type": "string"
        },
        "description": {
          "description": "Detailed description of the incident. Information provided at the opening of the Incident.",
          "type": "string"
        },
        "customer": {
          "$ref": "#/definitions/Customer"
        },
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Individual"
          }
        }
      },
      "required": [
        "urgency",
        "impact",
        "shortDescription",
        "description"
      ]
    },
    "FreezePeriods": {
      "description": "Model for Freeze Period",
      "required": [
        "id",
        "cause",
        "startedAt"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "single identifier of the freeze period. The last number indicate the number of freeze period.",
          "type": "string"
        },
        "cause": {
          "description": "Cause of the freeze period",
          "type": "string"
        },
        "description": {
          "description": "Comment on the freeze period",
          "type": "string"
        },
        "startedAt": {
          "description": "Start date fo the freeze period",
          "type": "string",
          "format": "date-time"
        },
        "endedAt": {
          "description": "End date of the freeze period",
          "type": "string",
          "format": "date-time"
        },
        "duration": {
          "description": "Duration in minutes of the freeze Period",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Steps": {
      "required": [
        "id",
        "type",
        "status",
        "createdAt"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Version": {
      "required": [
        "version",
        "deprecated"
      ],
      "type": "object",
      "properties": {
        "version": {
          "required": [
            "major",
            "minor",
            "patch"
          ],
          "description": "Version of the API",
          "type": "object",
          "properties": {
            "major": {
              "description": "Major number of the API version",
              "type": "string"
            },
            "minor": {
              "description": "Minor number of the API version",
              "type": "string"
            },
            "patch": {
              "description": "Patch number of the API version",
              "type": "string"
            }
          }
        },
        "deprecated": {
          "description": "Flag indicating if the API is deprecated",
          "type": "string",
          "default": "false"
        }
      }
    },
    "Documentation": {
      "type": "object"
    },
    "Hyperlink": {
      "required": [
        "href"
      ],
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "method": {
          "$ref": "#/definitions/HyperlinkMethod"
        },
        "payload": {
          "type": "string"
        }
      }
    },
    "IncidentLinks": {
      "required": [
        "self"
      ],
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/Hyperlink"
        },
        "location": {
          "$ref": "#/definitions/Hyperlink"
        },
        "servicePoint": {
          "$ref": "#/definitions/Hyperlink"
        },
        "product": {
          "$ref": "#/definitions/Hyperlink"
        }
      }
    },
    "IncidentMilestones": {
      "type": "object",
      "description": "",
      "properties": {
        "openedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00Z"
        },
        "resolvedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00Z"
        },
        "restoredAt": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00Z"
        },
        "validatedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00Z"
        },
        "closedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00Z"
        },
        "archivedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00Z"
        },
        "escalatedAt": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00Z"
        }
      },
      "required": [
        "openedAt",
        "validatedAt",
        "closedAt",
        "resolvedAt",
        "restoredAt",
        "escalatedAt"
      ]
    },
    "IncidentImpact": {
      "description": "List of other impacted services, products",
      "required": [
        "id",
        "type",
        "name",
        "customerReference"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "customerReference": {
          "type": "string"
        }
      }
    },
    "Event": {
      "description": "Proactive Event having created the incident",
      "required": [
        "id",
        "name",
        "createdAt"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createdAt": {
          "type": "string"
        }
      }
    },
    "ServicePoint": {
      "description": "Service Point where the incident is detected",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "product": {
          "$ref": "#/definitions/Product"
        },
        "serviceLevelManagement": {
          "$ref": "#/definitions/ServiceLevelManagement"
        }
      }
    },
    "ServiceLevelManagement": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "coverageTime": {
          "type": "string"
        },
        "restoreTime": {
          "type": "integer",
          "format": "int32"
        },
        "responseTime": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IncidentPath": {
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/Statuts"
        }
      }
    },
    "IncidentPOSTResponse": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Single Identifier of an incident",
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "Orange Developer": {
      "type": "oauth2",
      "flow": "application",
      "scopes": {
        "b2b:incident:readOnly": "Read Access to Incident for Business API",
        "b2b:incident": "Full Access to Incident for Business API"
      },
      "description": "",
      "tokenUrl": "https://api.orange.com/oauth/v2/token"
    }
  },
  "security": [
    {
      "Orange Developer": [
        "b2b:incident",
        "b2b:incident:readOnly"
      ]
    }
  ]
}