{
    "openapi": "3.0.0",
    "info": {
        "title": "Mobile API",
        "version": "1.2",
        "description": "Manage your mobile fleet.",
        "contact": {
            "name": "Orange Developer Support",
            "url": "https://developer.orange.com/resources/contact-us/",
            "email": "api.tech-expert@orange.com"
        }
    },
    "servers": [
        {
            "url": "https://api.orange.com/mobile/b2b/v1/"
        }
    ],
    "paths": {
        "/subscriptions": {
            "get": {
                "operationId": "FindSubscriptions",
                "summary": "Find subscriptions.",
                "description": "Retrieve subscriptions matching search criteria.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "The maximum number of items to retrieve.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 250,
                            "maximum": 5000
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Sort the result by the specified attribute. The descending order can be specify by prefixing the attribute name with a \"-\" sign. __Example: sort=-name",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "id",
                                "-id",
                                "status",
                                "-status",
                                "type",
                                "-type",
                                "customer.id",
                                "-customer.id",
                                "billingAccount.id",
                                "-billingAccount.id",
                                "mobileLine.id",
                                "-mobileLine.id",
                                "simCard.id",
                                "-simCard.id",
                                "plan.id",
                                "-plan.id",
                                "plan.name",
                                "-plan.name",
                                "profile.id",
                                "-profile.id",
                                "profile.name",
                                "-profile.name",
                                "service.id",
                                "-service.id",
                                "service.name",
                                "-service.name",
                                "service.portfolio",
                                "-service.portfolio",
                                "subscriber.id",
                                "-subscriber.id",
                                "subscriber.name",
                                "-subscriber.name",
                                "device.id",
                                "-device.id",
                                "device.name",
                                "-device.name",
                                "device.brand",
                                "-device.brand",
                                "lastORTDate",
                                "-lastORTDate",
                                "startedAt",
                                "-startedAt",
                                "terminatedAt",
                                "-terminatedAt",
                                "eligibilityTestAt",
                                "-eligibilityTestAt",
                                "createdAt",
                                "-createdAt",
                                "updatedAt",
                                "-updatedAt"
                            ]
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "description": "Filter by identifiers.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "simCards.type",
                        "description": "Filter by the SIM card type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MAIN_SIM",
                                "TWIN_SIM"
                            ]
                        }
                    },
                    {
                        "name": "mobileLine.id",
                        "description": "Filter by the phone number.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "description": "Filter by the status of the subscription.",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "INSTALLING",
                                "PENDING_ACTIVATION",
                                "OPERATIONAL",
                                "SUSPENDED",
                                "TERMINATED",
                                "NOT_LISTED",
                                "UNKNOWN"
                            ]
                        }
                    },
                    {
                        "name": "mobileLine.type",
                        "description": "Filter by the type of the mobile line.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer.id",
                        "description": "Filter by the customer identifier.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer.name",
                        "description": "Filter by the customer name.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "billingAccount.id",
                        "description": "Filter by the billing account.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "simCards.id",
                        "description": "Filter by the SIM card number.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "plan.id",
                        "description": "Filter by the plan identifier.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "plan.name",
                        "description": "Filter by the plan name.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "profile.id",
                        "description": "Filter by the profile identifier."
                    },
                    {
                        "name": "profile.name",
                        "description": "Filter by the profile name.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "service.id",
                        "description": "Filter by the service identifier.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "service.name",
                        "description": "Filter by the service name.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriber.id",
                        "description": "Filter by the subscriber identifier.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriber.name",
                        "description": "Filter by the subscriber name.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device.id",
                        "description": "Filter by the device identifier.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device.name",
                        "description": "Filter By the device name.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device.brand",
                        "description": "Filter by the device brand.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device.type",
                        "description": "Filter by the device type.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "displayLinks",
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "displayNulls",
                        "description": "Flag for displaying all fields even if the value is null.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Total-Count": {
                                "description": "Number of total items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Result-Count": {
                                "description": "Number of returned items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Subscriptions matching the request.",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Subscription"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Subscriptions"
                ]
            }
        },
        "/subscriptions/{subscriptionId}": {
            "get": {
                "operationId": "GetSubscriptionDetail",
                "summary": "Get detail of a subscription.",
                "description": "Retrieve detail of a subscription.",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "description": "Identifier of a subscription.",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "displayLinks",
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                false,
                                true
                            ]
                        }
                    },
                    {
                        "name": "displayNulls",
                        "description": "Flag for displaying all fields even if the value is null.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Subscriptions"
                ]
            }
        },
        "/subscriptions/aggregate": {
            "get": {
                "operationId": "AggregateSubscriptions",
                "summary": "Aggregate subscriptions",
                "description": "This method allows to count subscriptions grouped by one or several attributes and matching criterias.\n\nThis feature is useful for building dashboards.\n\nFor example, the call `GET /subscriptions/aggregate?groupBy=status`\n\nwill return\n\n`\n{\n   'OPERATIONAL': 30763,\n   'TERMINATED' : 252,\n   'SUSPENDED' : 9\n}\n`\n\nThe _groupBy_ Query Parameter supports several attributes ex:  ` GET /subscriptions/aggregate?groupBy=subscription.id,status",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API Key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupBy",
                        "description": "One or several attributes.",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "customer.id",
                                    "customer.name",
                                    "billingAccount",
                                    "mobileLine.type",
                                    "simCards.type",
                                    "plan.id",
                                    "profile.id",
                                    "profile.name",
                                    "device.name",
                                    "device.brand"
                                ]
                            }
                        },
                        "required": true,
                        "explode": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicators based on your aggregation.",
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Subscriptions"
                ]
            }
        },
        "/simCards": {
            "get": {
                "operationId": "FindSimCards",
                "summary": "Find SIM Cards.",
                "description": "Retrieve SIM cards matching search criteria.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "The maximum number of items to retrieve.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 250,
                            "maximum": 5000
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Sort the result by the specified attribute. The descending order can be specify by prefixing the attribute name with a \"-\" sign. __Example: sort=-name",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "id",
                                "-id",
                                "pukCode",
                                "-pukCode",
                                "createdAt",
                                "updatedAt",
                                "-createdAt",
                                "-updatedAt"
                            ]
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "description": "Filter by Identifiers.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "description": "Filter by the SIM card type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MAIN_SIM",
                                "TWIN_SIM"
                            ]
                        }
                    },
                    {
                        "name": "displayLinks",
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                false,
                                true
                            ]
                        }
                    },
                    {
                        "name": "displayNulls",
                        "description": "Flag for displaying all fields even if the value is null.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Total-Count": {
                                "description": "Number of total items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Result-Count": {
                                "description": "Number of returned items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "SIM cards matching the request.",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SimCard"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "SIM Cards"
                ]
            }
        },
        "/simCards/aggregate": {
            "get": {
                "operationId": "AggregateSimCards",
                "summary": "Aggregate SIM cards",
                "description": "This method allows to count SIM cards grouped by one or several attributes and matching criterias.\n\nThis feature is useful for building dashboards.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API Key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupBy",
                        "description": "One or several attributes.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Indicators based on your aggregation."
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "SIM Cards"
                ]
            }
        },
        "/simCards/{simCardId}": {
            "get": {
                "operationId": "GetSimCard",
                "summary": "Get detail of a SIM Card.",
                "description": "Retrieve detail of a SIM Card.",
                "parameters": [
                    {
                        "name": "simCardId",
                        "description": "Identifier of a SIM card.",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "displayLinks",
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                false,
                                true
                            ]
                        }
                    },
                    {
                        "name": "displayNulls",
                        "description": "Flag for displaying all fields even if the value is null.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimCard"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "SIM Cards"
                ]
            }
        },
        "/subscribers": {
            "get": {
                "operationId": "FindSubscribers",
                "summary": "Find subscribers.",
                "description": "Retrieve subscribers matching search criteria.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "The maximum number of items to retrieve.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 250,
                            "maximum": 5000
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Sort the result by the specified attribute. The descending order can be specify by prefixing the attribute name with a \"-\" sign. __Example: sort=-name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Total-Count": {
                                "description": "Number of total items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Result-Count": {
                                "description": "Number of returned items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Subscribers matching the request.",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Individual"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Subscribers"
                ]
            }
        },
        "/subscribers/aggregate": {
            "get": {
                "operationId": "AggregateSubscribers",
                "summary": "Aggregate subscribers",
                "description": "This method allows to count subscribers grouped by one or several attributes and matching criterias.\n\nThis feature is useful for building dashboards.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API Key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupBy",
                        "description": "One or several attributes.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicators based on your aggregation.",
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Subscribers"
                ]
            }
        },
        "/subscribers/{subscriberId}": {
            "get": {
                "operationId": "GetSubscriber",
                "summary": "Get detail of a subscriber.",
                "description": "Retrieve detail of a subscriber.",
                "parameters": [
                    {
                        "name": "subscriberId",
                        "description": "Identifier of a subscriber.",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "displayLinks",
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                false,
                                true
                            ]
                        }
                    },
                    {
                        "name": "displayNulls",
                        "description": "Flag for displaying all fields even if the value is null.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Individual"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Subscribers"
                ]
            }
        },
        "/billingAccounts": {
            "get": {
                "operationId": "FindBillingAccounts",
                "summary": "Find billing accounts.",
                "description": "Retrieve billing accounts matching search criteria.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "The maximum number of items to retrieve.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 250,
                            "maximum": 5000
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Sort the result by the specified attribute. The descending order can be specify by prefixing the attribute name with a \"-\" sign. __Example: sort=-name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "description": "Filter by the type of billing account.",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SUBSCRIPTIONS_EQUIPMENTS",
                                "EQUIPMENTS_ONLY"
                            ]
                        }
                    },
                    {
                        "name": "companies.groupCode",
                        "description": "Filter by the group code of the billing account.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "companies.companyCode",
                        "description": "Filter by the company code of the billing account.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "companies.companyAccount",
                        "description": "Filter by the company account of the billing account.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "companies.siren",
                        "description": "Filter by the SIREN of the billing account.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Total-Count": {
                                "description": "Number of total items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Result-Count": {
                                "description": "Number of returned items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Billing accounts matching the request.",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BillingAccount"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "BillingAccounts"
                ]
            }
        },
        "/billingAccounts/aggregate": {
            "get": {
                "operationId": "AggregateBillingAccounts",
                "summary": "Aggregate billing accounts",
                "description": "This method allows to count billing accounts grouped by one or several attributes and matching criterias.\n\nThis feature is useful for building dashboards.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API Key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupBy",
                        "description": "One or several attributes.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicators based on your Aggregation.",
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "BillingAccounts"
                ]
            }
        },
        "/billingAccounts/{billingAccountId}": {
            "get": {
                "operationId": "GetBillingAccount",
                "summary": "Get detail of a billing account.",
                "description": "Retrieve detail of a billing account.",
                "parameters": [
                    {
                        "name": "billingAccountId",
                        "description": "Identifier of a billing account.",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "displayLinks",
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                false,
                                true
                            ]
                        }
                    },
                    {
                        "name": "displayNulls",
                        "description": "Flag for displaying all fields even if the value is null.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillingAccount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "BillingAccounts"
                ]
            }
        },
        "/requests": {
            "get": {
                "operationId": "GetRequests",
                "summary": "Find Requests",
                "description": "Retrieve all requests matching search criteria.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "The maximum number of items to retrieve.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 250,
                            "maximum": 5000
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Sort the result by the specified attribute. The descending order can be specify by prefixing the attribute name with a \"-\" sign. __Example: sort=-name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "description": "Filter by identifiers.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customerReference",
                        "description": "Filter by the Customer Reference",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "description": "Filter by status of the request",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "IN_PROGRESS",
                                "NEW",
                                "COMPLETED"
                            ]
                        }
                    },
                    {
                        "name": "customer.id",
                        "description": "Filter by Customer Identifiers",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "description": "Filter by type of Requests",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Flag for displaying all fields even if the value is null.",
                        "name": "displayNulls",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "name": "displayLinks",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Request"
                                    }
                                }
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "Number of total items matching the request."
                            },
                            "X-Result-Count": {
                                "schema": {
                                    "type": "integer"
                                },
                                "description": "Number of returned items matching the request."
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Requests"
                ]
            },
            "post": {
                "operationId": "SendRequest",
                "description": "Send a new request to Orange Business Services.",
                "summary": "Send a Request",
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-API-KEY",
                        "description": "The API Key required for using Orange Business Services API.",
                        "schema": {
                            "type": "string"
                        },
                        "required": false
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request body to send a request.",
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/OrderNewLineRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ActivateLineRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/SuspendLineRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/RestoreLineRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/AddNewProductsRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/OrderEquipmentsRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/TerminateServicesRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/TerminateLineRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ChangeSimRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ChangeNumberRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ChangeBillingAccountRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ChangeSubscriberRequest"
                                    }
                                ],
                                "additionalProperties": true,
                                "discriminator": {
                                    "propertyName": "type"
                                }
                            },
                            "examples": {
                                "Order new line": {
                                    "value": {
                                        "catalog": "MOBILE",
                                        "type": "ORDER_NEW_LINE",
                                        "customerReference": "<YOUR_REFERENCE>",
                                        "contact": "<YOUR_CONTACT_EMAIL>",
                                        "comment": "<COMMENT>",
                                        "properties": {
                                            "billingAccount": {
                                                "id": "<BILL_ACC>"
                                            },
                                            "subscriber": {
                                                "firstName": "<FIRSTNAME>",
                                                "lastName": "<LASTNAME>",
                                                "email": "OWNER@EMAIL.com"
                                            },
                                            "delivery": {
                                                "name": "<ADDRESS_NAME>",
                                                "localCompany": "<YOUR_COMPANY>",
                                                "email": "<DELIVERY_EMAIL>",
                                                "address": {
                                                    "street": "<STREET>",
                                                    "extendedStreet": null,
                                                    "postalCode": "<POSTAL_CODE>",
                                                    "locality": null,
                                                    "state": null,
                                                    "city": "<CITY>",
                                                    "country": "FR"
                                                },
                                                "phoneNumber": "0123456789"
                                            },
                                            "plan": {
                                                "id": "<PLAN_ID>"
                                            },
                                            "profile": {
                                                "id": "<PROFILE_ID>"
                                            },
                                            "services": [
                                                {
                                                    "id": "<SERVICE_ID>"
                                                }
                                            ],
                                            "device": {
                                                "id": "<DEVICE_ID>"
                                            }
                                        }
                                    }
                                },
                                "Activate line": {
                                    "value": {
                                        "customerReference": "<YOUR_REFERENCE>",
                                        "catalog": "MOBILE",
                                        "type": "ACTIVATE_LINE",
                                        "contact": "<YOUR_CONTACT_EMAIL>",
                                        "properties": {
                                            "subscription": {
                                                "id": "<SUBSCRIPTION_ID>"
                                            }
                                        }
                                    }
                                },
                                "Suspend line": {
                                    "value": {
                                        "customerReference": "<YOUR_REFERENCE>",
                                        "catalog": "MOBILE",
                                        "type": "SUSPEND_LINE",
                                        "contact": "<YOUR_CONTACT_EMAIL>",
                                        "properties": {
                                            "reason": "PERSONAL",
                                            "subscription": {
                                                "id": "<SUBSCRIPTION_ID>"
                                            }
                                        }
                                    }
                                },
                                "Restore line": {
                                    "value": {
                                        "customerReference": "<YOUR_REFERENCE>",
                                        "catalog": "MOBILE",
                                        "type": "RESTORE_LINE",
                                        "contact": "<YOUR_CONTACT_EMAIL>",
                                        "properties": {
                                            "reason": "PERSONAL",
                                            "subscription": {
                                                "id": "<SUBSCRIPTION_ID>"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "description": "The content of the body depends on the type of request."
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {
                            "Content-Location": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Request"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "411": {
                        "$ref": "#/components/responses/LengthRequired"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "413": {
                        "$ref": "#/components/responses/RequestEntityTooLarge"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Requests"
                ]
            }
        },
        "/requests/aggregate": {
            "get": {
                "operationId": "AggregateRequests",
                "summary": "Aggregate requests",
                "description": "This method allows to count requests grouped by one or several attributes and matching criterias.\n\nThis feature is useful for building dashboards.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API Key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupBy",
                        "description": "One or several attributes.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicators based on your Aggregation.",
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "414": {
                        "$ref": "#/components/responses/RequestURITooLong"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Requests"
                ]
            }
        },
        "/requests/{requestId}": {
            "get": {
                "operationId": "GetRequest",
                "summary": "Get a request",
                "description": "Return the detail of a specific request",
                "parameters": [
                    {
                        "name": "requestId",
                        "description": "Identifier of a request.",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "displayLinks",
                        "description": "Flag for displaying the HATEOS links of linked ressources.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                false,
                                true
                            ]
                        }
                    },
                    {
                        "name": "displayNulls",
                        "description": "Flag for displaying all fields even if the value is null.",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Request"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Denied"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "408": {
                        "$ref": "#/components/responses/RequestTimeout"
                    },
                    "412": {
                        "$ref": "#/components/responses/PreconditionFailed"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "504": {
                        "$ref": "#/components/responses/GatewayTimeout"
                    }
                },
                "tags": [
                    "Requests"
                ]
            }
        },
        "/catalog/plans": {
            "get": {
                "operationId": "FindCatalogPlans",
                "summary": "Find available plans.",
                "description": "Retrieve available plans matching search criteria.",
                "parameters": [
                    {
                        "name": "X-API-KEY",
                        "description": "The API key required for using Orange Business Services API.",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "The index of the first element to retrieve. Zero is the first item of the collection.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "description": "The maximum number of items to retrieve.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 250,
                            "maximum": 5000
                        }
                    },
                    {
                        "name": "sort",
                        "description": "Sort the result by the specified attribute. The descending order can be specify by prefixing the attribute name with a \"-\" sign. __Example: sort=-name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Allow to have a partial response with only required attributes. The query parameter must contain a list of attributes separated by a comma.\\s __Example: fields=id,status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "description": "Filter by identifiers.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Total-Count": {
                                "description": "Number of total items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Result-Count": {
                                "description": "Number of returned items matching the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Plans matching the request.",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CatalogPlan"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
[...]
