{"swagger":"2.0","info":{"description":"Describes a Customer API for managing technical changes.\n \n**Release: pre-release 1.0.0**\n\n### Internationalization\nBy default, data are in English but you can request data in French by specifying a language code in the Accept-Language header.\n_Example: Accept-Language: fr_\n\n### Resources \n- **requests** : A request defines a demand for changing configuration, hardware or services.\n- **attachments** : A attachment defines all files about request.\n- **notes** : A note defines all comments on the request.\n- **steps** : A step defines the follow-up of the request.\n- **catalogItems** :  A catalog defines request's category.\n- **version** : provide the version of the API.\n- **status** : used to know the status of API components.\n- **doc** : download the swagger of the API.\n\n### Change for Business API performs the following operations :\n- Create or update a request, retrieve a request or a collection of requests depending on filter criteria.\n- Retrieve a collection of attachments depending on filter criteria.\n- Create a note, retrieve a collection of notes depending on filter criteria.\n- Retrieve a collection of steps depending on filter criteria.\n- Retrieve a catalog item or a collection of catalog items depending on filter criteria.\n \n\n### OAuth 2.0 Scopes\n\n| Scope | Features |\n| --- | --- |\n| b2b:change:readonly | Allow to track change requests |\n\n***\nCopyright © OBS 2019. All Rights Reserved.\n\n","version":"1.0.0_inProgress","title":"API ChangesForBusiness","x-logo":{"url":"/redoc/logo.png","backgroundColor":"#FFFFFF"}},"host":"api.orange.com","basePath":"/changes/b2b/v1","schemes":["https"],"produces":["application/json;charset=utf-8"],"tags":[{"name":"Requests","description":""},{"name":"Attachments","description":""},{"name":"Notes","description":""},{"name":"Steps","description":""},{"name":"CatalogItems","description":""},{"name":"Status","description":""},{"name":"Doc","description":""},{"name":"Version","description":""}],"paths":{"/requests":{"post":{"tags":["Requests"],"consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"operationId":"requestsCreate","summary":"Request a new technical change","description":"This end-point allows to send a new request. \n**Only one request is support in the sandbox**","deprecated":false,"parameters":[{"name":"payload","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/RequestPOST"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/RequestPOSTResponse"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}},"get":{"tags":["Requests"],"produces":["application/json;charset=utf-8"],"operationId":"requestsFind","summary":"list all requests","description":"This end-point allows to retrieve a list of change requests.","deprecated":false,"parameters":[{"name":"customerReference","required":false,"in":"query","description":"Returns requests with the given external reference.","type":"string"},{"name":"catalog","required":false,"in":"query","description":"Returns requests of the given catalog.","type":"string"},{"name":"type","required":false,"in":"query","description":"Returns requests of the given type. (catalog query parameter must also be provided)","type":"string"},{"name":"offset","required":false,"in":"query","description":"The index of the first element to retrieve. Zero is the first item of the collection.","type":"integer","format":"int32","default":0,"minimum":0},{"name":"limit","required":false,"in":"query","description":"The maximum number of items to retrieve.","type":"integer","format":"int32","default":20,"minimum":0},{"name":"fields","required":false,"in":"query","description":"The list of field names to retrieve.  You can specify a field, a resource or a resource's field.\n*Example: &fields=reference,status,type,primaryContact.name*","type":"array","items":{"type":"string","enum":["id","reference","customerReference","catalog","state","type","subState","createdAt","updatedAt","createdBy","createdBy.name","createdBy.firstName","createdBy.lastName","createdBy.phone","createdBy.mobile","createdBy.email","priority","mode","customer","customer.id","customer.name","customer.segment","product","product.id","implementation","implementation.startedAt","implementation.endedAt","planification","planification.startedAt","planification.endedAt","cost","cost.amount","cost.currency","location","location.id","location.name","location.address","location.address.street","location.address.postalCode","location.address.city","location.address.country","location.primaryContact","location.primaryContact.name","location.primaryContact.phone"]}},{"name":"sort","required":false,"in":"query","description":"The comma-separated list of field names to sort the result. Prefixing a field name with a \"-\" sign will indicate a descending order","type":"string","enum":["id","-id","reference","-reference","customerReference","-customerReference","catalog","-catalog","subState","-subState","type","-type","product.id","-product.id","product.type","-product.type","location.name","-location.name","location.address.street","-location.address.street","location.address.city","-location.address.city","planification.startedAt","-planification.startedAt","planification.endedAt","-planification.endedAt","implementation.startedAt","-implementation.startedAt","implementation.endedAt","-implementation.endedAt","createdAt","-createdAt","updatedAt","-updatedAt"]},{"name":"state","required":false,"in":"query","description":"Returns requests of the given state","type":"array","items":{"type":"string","enum":["open","closed"]}},{"name":"subState","required":false,"in":"query","description":"Returns requests of the given sub state.","type":"array","items":{"type":"string","enum":["frozen","inProgress","accepted","inQualification","submitted","waitingCustomerClosure","creationFailed","closed","restored","resolved","validated","archived"]}},{"name":"createdAt","required":false,"in":"query","description":"Returns requests created in the given partial interval. date provided must be in format \"YYYY-MM-DD\".\n*Example: &createdAt=,2019-12-20* returns requests created before 20 December 2019","type":"array","items":{"type":"string","format":"date"}},{"name":"query","required":false,"in":"query","description":"Returns requests related to the string provided (site name, request id or a product reference).","type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/Request"}},"headers":{"X-Total-Count":{"description":"The total number of items matching criteria.","type":"integer","format":"int32"},"X-Result-Count":{"description":"The actual number of items returned in the response body.","type":"integer","format":"int32"}}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/requests/{requestId}":{"get":{"tags":["Requests"],"produces":["application/json;charset=utf-8"],"operationId":"requestsGet","summary":"Get all details of a change request","description":"The end-point allows to retrieve all attributes of a change request.","deprecated":false,"parameters":[{"name":"requestId","required":true,"in":"path","description":"","type":"string"},{"name":"fields","required":false,"in":"query","description":"The list of field names to retrieve.  You can specify a field, a resource or a resource's field.","type":"array","items":{"type":"string","enum":["id","items","reference","customerReference","catalog","state","type","subState","contacts","createdAt","updatedAt","createdBy","createdBy.name","createdBy.firstName","createdBy.lastName","createdBy.phone","createdBy.mobile","createdBy.email","priority","mode","customer","customer.id","customer.name","customer.segment","product","product.id","implementation","implementation.startedAt","implementation.endedAt","planification","planification.startedAt","planification.endedAt","cost","cost.amount","cost.currency","location","location.id","location.name","location.address","location.address.street","location.address.postalCode","location.address.city","location.address.country","location.primaryContact","location.primaryContact.name","location.primaryContact.phone"]}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Request"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/requests/{requestId}/notes":{"post":{"tags":["Notes"],"consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"operationId":"notesCreate","summary":"Send a new note on a change request","description":"Allow to add a new comment/note on a change request\n**Not supported on the sandbox**","deprecated":false,"parameters":[{"name":"requestId","in":"path","required":true,"type":"string","description":""},{"name":"payload","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/NotePOST"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Note"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}},"get":{"tags":["Notes"],"produces":["application/json;charset=utf-8"],"operationId":"notesFind","summary":"List all notes on a change request","description":"The end-point allows to retrieve all notes on a specific request\n**Not supported on the sandbox**","deprecated":false,"parameters":[{"name":"requestId","in":"path","required":true,"type":"string","description":""},{"name":"offset","required":false,"in":"query","description":"The index of the first element to retrieve. Zero is the first item of the collection.","type":"integer","format":"int32","default":0,"minimum":0},{"name":"limit","required":false,"in":"query","description":"The maximum number of items to retrieve.","type":"integer","format":"int32","default":20,"minimum":0},{"name":"fields","required":false,"in":"query","description":"The list of field names to retrieve.  You can specify a field, a resource or a resource's field.","type":"array","items":{"type":"string","enum":["id","origin","body","createdAt","updatedAt","createdBy"]}},{"name":"origin","required":false,"in":"query","description":"","type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/Note"}},"headers":{"X-Total-Count":{"description":"The total number of items matching criteria.","type":"integer","format":"int32"},"X-Result-Count":{"description":"The actual number of items returned in the response body.","type":"integer","format":"int32"}}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/requests/{requestId}/steps":{"get":{"tags":["Steps"],"produces":["application/json;charset=utf-8"],"operationId":"stepsFind","summary":"List all steps of a change request","description":"Provide steps of the change","deprecated":false,"parameters":[{"name":"requestId","in":"path","required":true,"type":"string","description":""},{"name":"offset","required":false,"in":"query","description":"The index of the first element to retrieve. Zero is the first item of the collection.","type":"integer","format":"int32","default":0,"minimum":0},{"name":"limit","required":false,"in":"query","description":"The maximum number of items to retrieve.","type":"integer","format":"int32","default":20,"minimum":0},{"name":"fields","required":false,"in":"query","description":"","type":"string","enum":["status","message","createdAt","updatedAt","createdBy"]}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/Step"}},"headers":{"X-Total-Count":{"description":"The total number of items matching criteria.","type":"integer","format":"int32"},"X-Result-Count":{"description":"The actual number of items returned in the response body.","type":"integer","format":"int32"}}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/catalogItems":{"get":{"tags":["CatalogItems"],"produces":["application/json;charset=utf-8"],"operationId":"catalogItemsFind","summary":"List all catalog Items","description":"List of all catalog items\n**Fields attribute not supported on the sandbox**","deprecated":false,"parameters":[{"name":"offset","required":false,"in":"query","description":"The index of the first element to retrieve. Zero is the first item of the collection.","type":"integer","format":"int32","default":0,"minimum":0},{"name":"limit","required":false,"in":"query","description":"The maximum number of items to retrieve.","type":"integer","format":"int32","default":20,"minimum":0},{"name":"fields","required":false,"in":"query","description":"The list of field names to retrieve.  You can specify a field, a resource or a resource's field.","type":"array","items":{"type":"string","enum":["id","name","catalog","catalog.id","catalog.name","schema","createdAt","updatedAt"]}},{"name":"sort","required":false,"in":"query","description":"","type":"array","items":{"type":"string","enum":["id","-id","name","-name","catalog.id","-catalog.id","catalog.name","-catalog.name","createdAt","-createdAt","updatedAt","-updatedAt"]}},{"name":"name","required":false,"in":"query","description":"","type":"string"},{"name":"createdAt","required":false,"in":"query","description":"","type":"string","format":"date-time"},{"name":"updatedAt","required":false,"in":"query","description":"","type":"string","format":"date-time"},{"name":"catalog.id","required":false,"in":"query","description":"","type":"string"},{"name":"catalog.name","required":false,"in":"query","description":"","type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/CatalogItem"}},"headers":{"X-Total-Count":{"description":"The total number of items matching criteria.","type":"integer","format":"int32"},"X-Result-Count":{"description":"The actual number of items returned in the response body.","type":"integer","format":"int32"}}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/catalogItems/{catalogItemId}":{"get":{"tags":["CatalogItems"],"produces":["application/json;charset=utf-8"],"operationId":"catalogItemsGet","summary":"Get details of a catalog item","description":"Get all detailed information on a catalog Item\n**Not supported on the sandbox**","deprecated":false,"parameters":[{"name":"catalogItemId","required":true,"in":"path","description":"","type":"string"},{"name":"fields","required":false,"in":"query","description":"","type":"array","items":{"type":"string","enum":["id","name","catalog","catalog.id","catalog.name","schema","createdAt","updatedAt"]}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/CatalogItem"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/status":{"get":{"tags":["Status"],"produces":["application/json;charset=utf-8"],"parameters":[],"operationId":"statusFind","summary":"find status","description":"","deprecated":false,"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Status"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/doc":{"get":{"tags":["Doc"],"produces":["application/json;charset=utf-8"],"parameters":[],"operationId":"docFind","summary":"find doc","description":"","deprecated":false,"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Doc"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}},"/version":{"get":{"tags":["Version"],"produces":["application/json;charset=utf-8"],"parameters":[],"operationId":"versionFind","summary":"find version","description":"","deprecated":false,"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/version"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/zzError"}},"403":{"description":"Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests","schema":{"$ref":"#/definitions/zzError"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/zzError"}},"405":{"description":"Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed","schema":{"$ref":"#/definitions/zzError"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/zzError"}},"500":{"description":"Internal Server Error\n\nList of supported error codes:\n- 1: Internal error","schema":{"$ref":"#/definitions/zzError"}},"503":{"description":"Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !","schema":{"$ref":"#/definitions/zzError"}}}}}},"definitions":{"Segment":{"description":"Segment of the Customer (France or International)","type":"string","enum":["INT","FR"]},"SubState":{"description":"List different sub status of a change. Work in progress","type":"string","enum":["inProgress","frozen","submitted","resolved","revised","accepted","draft","informationProvidingInProgress","cancelRequestFailed","cancelRequestInProgress","customerAgreementInProgress","customerQuotationAgreementFailed","customerQuotationAgreementInProgress","customerRefusalInProgress","customerRefusalFailed","waitingCustomerClosure","waitingForApproval","waitingForCustomerAgreement","waitingForCustomerQuotationAgreement","waitingForInformation","waitingForInternalApproval","awaitingOrangeReview","proposalRefused","requestRejected","closureRefusedByRequestor","validated","implemented","inQualification","other","creationFailed","restored","ticketSourcedOnWEB","creationInProgress","informationProvidingFailed","customerAgreementFailed","answerWaitingForApproval","onStudy","customerQuotationRefusalInProgress","customerQuotationRefusalFailed","informationRejected","acknowledged","awaitingScheduleOrCabInformation","temporaryRealised","closed","cancelled","archived","failed","notFeasible"]},"State":{"description":"List different status of a change","type":"string","enum":["open","closed","draft"]},"Priority":{"description":"List the different priorities of a change","type":"string","enum":["unknown","low","medium","high"]},"ImplementationMode":{"description":"List of implementation Mode. Work in progress","type":"string","enum":["expedite","noneBusinessHours","standardLeadTime","expediteLeadTime","unknown","standardLeadTimePlus","expediteLeadTimePlus","requestedDateAndTime","standardMandatoryDateTime","nbhMandatoryDateAndTime","requestedDate","expediteRequestedDateAndTime","expediteMandatoryDateAndTime"]},"CatalogItemCategories":{"description":"List of catalog item categories.","type":"string","enum":["data"]},"ReportTypes":{"description":"List the available reports on Incident Management","type":"string","enum":["csv"]},"TypeOfRequest":{"description":"","type":"string","enum":["add","remove"]},"TypeOfRequestExtended":{"description":"","type":"string","enum":["activate","deactivate","change"]},"InterfaceSpeed":{"description":"","type":"string","enum":["10Mbps","100Mbps","1Gbps","auto"]},"duplexTypes":{"description":"","type":"string","enum":["full","half","auto"]},"TypeOfRequestMedium":{"description":"","type":"string","enum":["add","update","delete"]},"ClassOfService":{"description":"","type":"string","enum":["D1","D2","D3","RT","RTVI"]},"Mode":{"description":"","type":"string","enum":["primary","secondary"]},"ProtocolLight":{"description":"","type":"string","enum":["UDP","TCP"]},"ImplementationModeLight":{"description":"The required fields for each mode are as follows:\n\nstandardLeadTime -> no date required.\n\nrequestedDate -> requestedAt -> \"YYYY-MM-DD\".\n\nrequestedDateAndTime  -> requestedPeriod ( startedAt, endedAt ) -> datetime format should be \"YYYY-MM-DDTHH:mmZ\".\n\nnoneBusinessHours -> requestedPeriod ( startedAt, endedAt ) -> datetime format should be \"YYYY-MM-DDTHH:mmZ\".","type":"string","enum":["standardLeadTime","requestedDate","requestedDateAndTime","noneBusinessHours"]},"subStateLight":{"description":"","type":"string","enum":["draft","submitted"]},"Origin":{"description":"","type":"string","enum":["customer","orange"]},"APIState":{"description":"","type":"string","enum":["ok","nok"]},"stepState":{"description":"","type":"string","enum":["waitClosure","inProgress","accepted","inQualification","submitted"]},"RequestFields":{"description":"Allow to return a partial list of attributes","type":"string","enum":["id","reference","customerReference","catalog","state","type","subState","createdAt","updatedAt","createdBy","createdBy.name","createdBy.firstName","createdBy.lastName","createdBy.phone","createdBy.mobile","createdBy.email","priority","mode","customer","customer.id","customer.name","customer.segment","product","product.id","implementation","implementation.startedAt","implementation.endedAt","planification","planification.startedAt","planification.endedAt","cost","cost.amount","cost.currency","location","location.id","location.name","location.address","location.address.street","location.address.postalCode","location.address.city","location.address.country","location.primaryContact","location.primaryContact.name","location.primaryContact.phone"]},"RequestSort":{"description":"","type":"string","enum":["id","-id","reference","-reference","customerReference","-customerReference","catalog","-catalog","subState","-subState","type","-type","product.id","-product.id","product.type","-product.type","location.name","-location.name","location.address.street","-location.address.street","location.address.city","-location.address.city","planification.startedAt","-planification.startedAt","planification.endedAt","-planification.endedAt","implementation.startedAt","-implementation.startedAt","implementation.endedAt","-implementation.endedAt","createdAt","-createdAt","updatedAt","-updatedAt"]},"StepFields":{"description":"","type":"string","enum":["status","message","createdAt","updatedAt","createdBy"]},"StepSort":{"description":"","type":"string","enum":["id","-id","message","-message","status","-status","createdAt","-createdAt","updatedAt","-updatedAt"]},"NoteSort":{"description":"","type":"string","enum":["id","-id","origin","-origin","title","-title","createdAt","-createdAt","updatedAt","-updatedAt"]},"NoteField":{"description":"","type":"string","enum":["id","origin","body","createdAt","updatedAt","createdBy"]},"CatalogItemFields":{"description":"","type":"string","enum":["id","name","catalog","catalog.id","catalog.name","schema","createdAt","updatedAt"]},"CatalogItemSort":{"description":"","type":"string","enum":["id","-id","name","-name","catalog.id","-catalog.id","catalog.name","-catalog.name","createdAt","-createdAt","updatedAt","-updatedAt"]},"SingleRequestFields":{"description":"","type":"string","enum":["id","items","reference","customerReference","catalog","state","type","subState","contacts","createdAt","updatedAt","createdBy","createdBy.name","createdBy.firstName","createdBy.lastName","createdBy.phone","createdBy.mobile","createdBy.email","priority","mode","customer","customer.id","customer.name","customer.segment","product","product.id","implementation","implementation.startedAt","implementation.endedAt","planification","planification.startedAt","planification.endedAt","cost","cost.amount","cost.currency","location","location.id","location.name","location.address","location.address.street","location.address.postalCode","location.address.city","location.address.country","location.primaryContact","location.primaryContact.name","location.primaryContact.phone"]},"AttachmentFields":{"description":"","type":"string","enum":["id","name","format","size","url","createdAt","updatedAt"]},"StateQueryParam":{"description":"","type":"string","enum":["open","closed"]},"SubStateQueryParam":{"description":"","type":"string","enum":["frozen","inProgress","accepted","inQualification","submitted","waitingCustomerClosure","creationFailed","closed","restored","resolved","validated","archived"]},"zzErrorDetail":{"description":"","required":["code","message"],"type":"object","properties":{"code":{"description":"","type":"integer","format":"int32"},"message":{"description":"","type":"string"},"description":{"description":"","type":"string"},"infoURL":{"description":"","type":"string"}}},"zzError":{"description":"","required":["code","message"],"type":"object","properties":{"code":{"description":"","type":"integer","format":"int32"},"message":{"description":"","type":"string"},"description":{"description":"","type":"string"},"infoURL":{"description":"","type":"string"},"details":{"type":"array","items":{"$ref":"#/definitions/zzErrorDetail"}}}},"Customer":{"description":"Model describing a Customer Account","required":["id","name","segment"],"type":"object","properties":{"id":{"description":"Unique identifier of the customer account","type":"string"},"name":{"description":"Name of the Customer","type":"string"},"segment":{"description":"Type of the Customer.\n_Example FR or INT_","type":"string"}}},"Individual":{"description":"Model describing a physical person","required":["name"],"type":"object","properties":{"id":{"description":"Unique identifier of the person","type":"string"},"title":{"description":"The title of the person :  Mr., Mrs., or Miss","type":"string"},"name":{"description":"The title and the first and last name of the person.","type":"string"},"lastName":{"description":"The last name of the person","type":"string"},"firstName":{"description":"The first name of the person","type":"string"},"phone":{"description":"The phone number.  Phone numbers must follow Rec.E164 without \"+\" prefix (see www.itu.int/rec/T-REC-E.164/)","type":"string"},"mobile":{"description":"The mobile number.  Phone numbers must follow Rec.E164 without \"+\" prefix (see www.itu.int/rec/T-REC-E.164/)","type":"string"},"email":{"description":"The email address of the person","type":"string"},"comment":{"description":"Comment on the individual.","type":"string"}}},"Request":{"description":"Model describing a change","required":["id","catalog","state","type","subState","createdAt","updatedAt","priority","mode","location","product"],"type":"object","properties":{"id":{"description":"Unique identifier of the request.","type":"string"},"customerReference":{"description":"Reference set by the customer.","type":"string"},"catalog":{"description":"Catalog name of the request. Use /catalogItem to retrieve the catalog name.","type":"string"},"state":{"$ref":"#/definitions/State"},"type":{"description":"Type of the request. Use /catalogItem to retrieve the request name.","type":"string"},"subState":{"$ref":"#/definitions/SubState"},"items":{"type":"array","items":{"$ref":"#/definitions/REQ_TEMPLATE"}},"contacts":{"type":"array","items":{"$ref":"#/definitions/Individual"}},"createdAt":{"description":"Date when the request was created. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"},"updatedAt":{"description":"Date when the request was last updated . Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"},"createdBy":{"$ref":"#/definitions/Individual"},"updatedBy":{"$ref":"#/definitions/Individual"},"customer":{"$ref":"#/definitions/Customer"},"priority":{"$ref":"#/definitions/Priority"},"mode":{"$ref":"#/definitions/ImplementationMode"},"location":{"$ref":"#/definitions/Location"},"cost":{"$ref":"#/definitions/Cost"},"planification":{"$ref":"#/definitions/Period"},"implementation":{"$ref":"#/definitions/Period"},"product":{"$ref":"#/definitions/Product"},"_links":{"$ref":"#/definitions/Links"},"reference":{"description":"","type":"string"}}},"Attachment":{"description":"Model describing an attachment","required":["id","format","name","size","url","createdAt","updatedAt"],"type":"object","properties":{"id":{"description":"Single identifier of the file","type":"string"},"format":{"description":"Type of the extension of the file","type":"string"},"name":{"description":"Name of the file","type":"string"},"size":{"description":"Size of the file in kb","type":"string"},"url":{"description":"URL on the file for download it","type":"string","format":"uri"},"body":{"description":"Content of the file encoded in Base64","type":"string"},"requestId":{"description":"Single identifier of the request where the file is linked.","type":"string"},"createdAt":{"description":"Date of the availability of the file","type":"string","format":"date-time"},"updatedAt":{"description":"Date of the last update of the file. The current implementation, this date is always the same as createdAt as it is not possible to update a file.","type":"string","format":"date-time"}}},"AttachmentPOST":{"description":"Model describing an attachment for the creation","required":["name","body"],"type":"object","properties":{"name":{"description":"Name of the file including the extension(ex .txt).","type":"string"},"body":{"description":"Content of the file encoded in base64","type":"string"}}},"Address":{"description":"Model describing an address","required":["street","postalCode","city","country"],"type":"object","properties":{"street":{"description":"Street of the address.","type":"string"},"extendedStreet":{"description":"Extension name of the street.","type":"string"},"postalCode":{"description":"postalCode of the address.","type":"string"},"city":{"description":"Name of the city","type":"string"},"locality":{"description":"Locality of the address.\n_Example: Sophia-Antipolis_","type":"string"},"country":{"description":"country of the address","type":"string"}}},"Location":{"description":"Model describing a location","required":["id","name","address","primaryContact"],"type":"object","properties":{"id":{"description":"Unique identifier of the location.","type":"string"},"name":{"description":"Name of the location.","type":"string"},"address":{"$ref":"#/definitions/Address"},"primaryContact":{"$ref":"#/definitions/Individual"}}},"Note":{"description":"Model describing a note on a change","required":["id","origin","body","createdAt","updatedAt"],"type":"object","properties":{"id":{"description":"Unique identifier of the event.","type":"string"},"origin":{"$ref":"#/definitions/Origin"},"createdBy":{"$ref":"#/definitions/Individual"},"title":{"description":"Title of the event/note.","type":"string"},"body":{"description":"The body of the message","type":"string"},"createdAt":{"description":"Date when the event was created. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"},"updatedAt":{"description":"Date when the event was last updated. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"}}},"CatalogItem":{"description":"Model describing a catalog Item","required":["id","name","catalog","schema"],"type":"object","properties":{"id":{"description":"Single identifier of the catalog item.","type":"string"},"name":{"description":"Name of the catalog item.","type":"string"},"catalog":{"$ref":"#/definitions/Catalog"},"schema":{"description":"Json schema describing the catalog item.","type":"object"},"isActive":{"description":"If the catalog item is active.","type":"boolean"},"createdAt":{"description":"Date when the catalog item was created. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"},"updatedAt":{"description":"Date when the catalog item was last updated. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"}}},"ReportRequest":{"description":"Model of a report request.","required":["type","beginPeriod","endPeriod","format","parameters"],"type":"object","properties":{"type":{"$ref":"#/definitions/ReportTypes"},"beginPeriod":{"description":"Start date of the period.","type":"string","format":"date-time"},"endPeriod":{"description":"End date of the period.","type":"string","format":"date-time"},"format":{"description":"Format of the report request.","type":"string"},"filters":{"description":"Filters on the report request.","type":"object"},"parameters":{"description":"Parameters of the report request.","type":"object"}}},"Snapshot":{"description":"","type":"object","properties":{}},"Search":{"description":"","type":"object","properties":{}},"Cost":{"description":"Model describing the Cost structure","required":["amount","currency"],"type":"object","properties":{"amount":{"description":"Amount of the cost.","type":"number","format":"double"},"currency":{"description":"Currency of the cost.","type":"string"}}},"Period":{"description":"Model of a period.","type":"object","properties":{"startedAt":{"description":"Start date of the period","type":"string","format":"date-time"},"endedAt":{"description":"End date of the period","type":"string","format":"date-time"}}},"Step":{"description":"Describe the Step of the  Change Management workflow","required":["status","createdBy","createdAt","updatedAt"],"type":"object","properties":{"id":{"description":"Unique identifier of the step.","type":"string"},"type":{"description":"Type of the step.","type":"string"},"message":{"description":"Message of the step.","type":"string"},"status":{"description":"Status of the step.","type":"string"},"createdBy":{"$ref":"#/definitions/Individual"},"createdAt":{"description":"Date when the step was created. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"},"updatedAt":{"description":"Date when the step was last updated. Use the [ISO-8601](https://www.w3.org/TR/NOTE-datetime) format.\n_Example: 2015-04-09T12:07:56Z_","type":"string","format":"date-time"}}},"Status":{"description":"Model of a status.","required":["name","status","version"],"type":"object","properties":{"name":{"description":"Service internal name.","type":"string"},"status":{"$ref":"#/definitions/APIState"},"version":{"description":"API version (major dot minor dot patch numbers).","type":"string"}}},"servicePointPOST":{"description":"Model describing a location. It is mandatory to indicate a location id or location name if product id is not set.","type":"object","properties":{"id":{"description":"Single identifier of the location","type":"string"},"name":{"description":"name of the location","type":"string"}}},"IndividualPOST":{"description":"Model describing a physical person","required":["name","lastName","firstName","phone","email"],"type":"object","properties":{"title":{"description":"The title of the person :  Mr., Mrs., or Miss","type":"string"},"name":{"description":"The title and the first and last name of the person.","type":"string"},"lastName":{"description":"The last name of the person","type":"string"},"firstName":{"description":"The first name of the person","type":"string"},"phone":{"description":"The phone number.  Phone numbers must follow Rec.E164 without \"+\" prefix (see www.itu.int/rec/T-REC-E.164/)","type":"string"},"mobile":{"description":"The mobile number.  Phone numbers must follow Rec.E164 without \"+\" prefix (see www.itu.int/rec/T-REC-E.164/)","type":"string"},"email":{"description":"The email address of the person","type":"string"},"comment":{"description":"Comment on the individual.","type":"string"}}},"Product":{"description":"Model of a product.","required":["id"],"type":"object","properties":{"id":{"description":"Unique identifier of the product.","type":"string"}}},"NotePOST":{"description":"Model describing a note on create","required":["body"],"type":"object","properties":{"body":{"description":"Title of the event.","type":"string"}}},"RequestPATCH":{"description":"","required":["state"],"type":"object","properties":{"state":{"$ref":"#/definitions/State"}}},"Catalog":{"description":"Model describing a catalog","required":["id","name"],"type":"object","properties":{"id":{"description":"Single identifier of the catalog item.","type":"string"},"name":{"description":"Name of the catalog.","type":"string"}}},"RequestPOST":{"description":"","discriminator":"type","required":["contact","mode","type"],"type":"object","properties":{"customerReference":{"description":"Reference set by the customer.","type":"string"},"contact":{"$ref":"#/definitions/IndividualPOST"},"createdBy":{"$ref":"#/definitions/IndividualPOST"},"servicePoint":{"$ref":"#/definitions/servicePointPOST"},"products":{"type":"array","items":{"$ref":"#/definitions/ProductPOST"},"minItems":1},"comment":{"description":"Comment on the request.","type":"string"},"mode":{"$ref":"#/definitions/ImplementationModeLight"},"requestedAt":{"description":"Required ONLY for the mode \"requestedDate\" and should be with the format \"YYYY-MM-DD\".","type":"string","format":"date"},"requestedPeriod":{"$ref":"#/definitions/ModePeriod"},"attachments":{"type":"array","items":{"$ref":"#/definitions/AttachmentPOST"},"maxItems":5},"type":{"description":"Type of the request.  Use /catalogItem to retrieve the request name.","type":"string"},"items":{"type":"array"}}},"DATA_RouteIP":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["items"],"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_IP_Route"}}}}]},"DATA_RelaisDHCP":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_Function_DHCP_Relay"}}}}]},"Structure_DATA_Function_DHCP_Relay":{"description":"","required":["type","ipAddressServer1"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequest"},"ipAddressServer1":{"description":"","type":"string"},"ipAddressServer2":{"description":"","type":"string"},"comment":{"description":"","type":"string"}}},"Properties":{"description":"","type":"object","properties":{}},"Structure_DATA_IP_Route":{"description":"","required":["action","subNetwork","ipMask","nextHop","isBroadcasted"],"type":"object","properties":{"action":{"$ref":"#/definitions/TypeOfRequest"},"subNetwork":{"description":"","type":"string"},"ipMask":{"description":"","type":"string"},"nextHop":{"description":"","type":"string"},"isBroadcasted":{"description":"","type":"boolean"},"comment":{"description":"","type":"string"}}},"DATA_ServeurDHCP":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_Function_DHCP_Server"}}}}]},"Structure_DATA_Function_DHCP_Server":{"description":"","required":["type","subNetwork","ipMask","ipAddressStart","ipAddressEnd","defaultGateway","lease"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequest"},"domain":{"description":"","type":"string"},"subNetwork":{"description":"","type":"string"},"ipMask":{"description":"","type":"string"},"ipAddressStart":{"description":"","type":"string"},"ipAddressEnd":{"description":"","type":"string"},"defaultGateway":{"description":"","type":"string"},"lease":{"description":"Lease (in hours)","type":"string"},"excludedStart":{"description":"","type":"string"},"excludedEnd":{"description":"","type":"string"},"winsServer1":{"description":"","type":"string"},"winsServer2":{"description":"","type":"string"},"dnsServer1":{"description":"","type":"string"},"dnsServer2":{"description":"","type":"string"},"comment":{"description":"","type":"string"}}},"DATA_IPinterfaceLAN":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_IP_Address_On_a_LAN_Interface"}}}}]},"Structure_DATA_IP_Address_On_a_LAN_Interface":{"description":"","required":["type","ipAddress","ipMask","mode"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequest"},"ipAddress":{"description":"","type":"string"},"ipMask":{"description":"","type":"string"},"ipAddressBackup":{"description":"","type":"string"},"virtualIpAddress":{"description":"","type":"string"},"mode":{"$ref":"#/definitions/Mode"},"comment":{"description":"","type":"string"}}},"Structure_DATA_Priorisation_QOS":{"description":"","required":["type","class"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequestMedium"},"sourceIpAddress":{"description":"","type":"string"},"sourceIpMask":{"description":"","type":"string"},"sourcePortNumber":{"description":"","type":"string"},"destinationIpAddress":{"description":"","type":"string"},"destinationIpMask":{"description":"","type":"string"},"destinationPortNumber":{"description":"","type":"string"},"protocol":{"description":"","type":"string"},"class":{"$ref":"#/definitions/ClassOfService"},"comment":{"description":"","type":"string"}}},"DATA_QOS":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_Priorisation_QOS"}}}}]},"Structure_DATA_LAN_Parameters":{"description":"","required":["type","interfaceNumber"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequestExtended"},"interfaceNumber":{"description":"","type":"string"},"duplex":{"$ref":"#/definitions/duplexTypes"},"speed":{"$ref":"#/definitions/InterfaceSpeed"},"comment":{"description":"","type":"string"}}},"DATA_Interface_Lan_routeur":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_LAN_Parameters"}}}}]},"GESTION_RIE_Extranet":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATARIE_Extranet"}}}}]},"Structure_DATARIE_Extranet":{"description":"","required":["type","caution"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequestMedium"},"caution":{"description":"This field must have the value 72h.","type":"array","items":{"type":"string"}}}},"Structure_DATARIE_TopologieLAN":{"description":"","required":["caution"],"type":"object","properties":{"caution":{"description":"Mandatory file with the value 72h. For this type of request, an attachment file is required","type":"string","default":"72h"}}},"GESTION_RIE":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATARIE_TopologieLAN"}}}}]},"GESTION_RIE_MASSE":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATARIE_TopologieLAN"}}}}]},"GESTION_RIE_MASSE_Extranet":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATARIE_Extranet"}}}}]},"Structure_DATA_Other_Request":{"description":"","required":["comment"],"type":"object","properties":{"comment":{"description":"","type":"array","items":{"type":"string"}}}},"DATA_Autre":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_Other_Request"}}}}]},"Structure_DATA_IP_Address_On_a_VLAN_Interface":{"description":"","required":["type","IpAddress","ipMask","vLAN"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequest"},"IpAddress":{"description":"","type":"string"},"ipMask":{"description":"","type":"string"},"vLAN":{"description":"","type":"string"},"secondaryIpAddress":{"description":"","type":"string"},"secondaryVLAN":{"description":"","type":"string"},"virtualAddress":{"description":"","type":"string"},"comment":{"description":"","type":"string"}}},"DATA_IPinterfaceVLAN":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_IP_Address_On_a_VLAN_Interface"}}}}]},"Structure_DATA_IP_Address_Translation":{"description":"","required":["type","sourceIpAddress","sourceIpMask","destinationAddress","destinationIpMask"],"type":"object","properties":{"type":{"$ref":"#/definitions/TypeOfRequestExtended"},"sourceIpAddress":{"description":"","type":"string"},"sourceIpMask":{"description":"","type":"string"},"sourcePort":{"description":"","type":"string"},"sourceProtocol":{"$ref":"#/definitions/ProtocolLight"},"destinationAddress":{"description":"","type":"string"},"destinationIpMask":{"description":"","type":"string"},"destinationPort":{"description":"","type":"string"},"destinationProtocol":{"$ref":"#/definitions/ProtocolLight"},"comment":{"description":"","type":"string"}}},"DATA_Nattage":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_DATA_IP_Address_Translation"}}}}]},"Structure_Production_PFS":{"description":"","required":["comment"],"type":"object","properties":{"comment":{"description":"Comment on the request","type":"string"}}},"DATA_PFS":{"description":"","allOf":[{"$ref":"#/definitions/RequestPOST"},{"required":["properties"],"type":"object","properties":{"properties":{"type":"array","items":{"$ref":"#/definitions/Structure_Production_PFS"}}}}]},"ProductPOST":{"description":"Model describing a product. It is mandatory to indicate a product id if location id and location name are not set.","required":["id"],"type":"object","properties":{"id":{"description":"Unique identifier of the product.","type":"string"}}},"Links":{"description":"","required":["self","attachments","notes","steps"],"type":"object","properties":{"self":{"description":"uri of the current item","type":"string","format":"uri"},"attachments":{"description":"uri for retrieving attachments of the current item","type":"string","format":"uri"},"notes":{"description":"uri for retrieving notes of the current item","type":"string","format":"uri"},"steps":{"description":"uri for retrieving steps of the current item","type":"string","format":"uri"}}},"MYREQUEST":{"description":"","discriminator":"type","required":["type"],"type":"object","properties":{"type":{"description":"","type":"array","items":{"type":"string"}}}},"version":{"description":"","required":["version","deprecated"],"type":"object","properties":{"version":{"$ref":"#/definitions/VersionItem"},"deprecated":{"description":"","type":"boolean"}}},"VersionItem":{"description":"","required":["major","minor","patch"],"type":"object","properties":{"major":{"description":"","type":"string"},"minor":{"description":"","type":"string"},"patch":{"description":"","type":"string"}}},"Doc":{"description":"","type":"object","properties":{}},"REQ_TEMPLATE":{"description":"","required":["action"],"type":"object","properties":{"action":{"description":"","type":"string"}}},"ModePeriod":{"description":"Required ONLY for the mode \"requestedDateAndTime\" and \"noneBusinessHours\".\n\n\"startedAt\" and \"endedAt\" format should be \"YYYY-MM-DDTHH:mmZ\".","required":["startedAt","endedAt"],"type":"object","properties":{"startedAt":{"description":"Start date of the period in \"YYYY-MM-DDTHH:mmZ\" format.","type":"string","format":"date-time"},"endedAt":{"description":"End date of the period in \"YYYY-MM-DDTHH:mmZ\" format.","type":"string","format":"date-time"}}},"RequestPOSTResponse":{"description":"","discriminator":"type","required":["catalog","state","type","subState","createdAt","updatedAt","mode"],"type":"object","properties":{"customerReference":{"description":"Reference set by the customer.","type":"string"},"catalog":{"description":"","type":"string"},"state":{"description":"","type":"string"},"type":{"description":"Type of the request.  Use /catalogItem to retrieve the request name.","type":"string"},"subState":{"description":"","type":"string"},"items":{"description":"","type":"array","items":{"type":"string"}},"contacts":{"type":"array","items":{"$ref":"#/definitions/Individual"}},"createdBy":{"$ref":"#/definitions/Individual"},"createdAt":{"description":"","type":"string","format":"date-time"},"updatedAt":{"description":"","type":"string","format":"date-time"},"priority":{"description":"","type":"string"},"mode":{"$ref":"#/definitions/ImplementationModeLight"},"product":{"$ref":"#/definitions/Product"}}}},"security":[{"oauth2":["b2b:changeRequests","b2b:changeRequests:read"],"api_key":[]}],"securityDefinitions":{"oauth2":{"type":"oauth2","flow":"implicit","authorizationUrl":"https://api.orange.com/oauth/v2/token","scopes":{"b2b:changeRequests":"Allow to manage your change requests","b2b:changeRequests:read":"Allow to track your change requests"}},"api_key":{"type":"apiKey","name":"X-API-Key","in":"header"}}}